# ignore all output data files created
**.out
**.dat
**.asv
**.txt

# Ignore contents of the following directories
/OutputFiles/*
/bin/*

# Ignore executable files
*.exe
*.o

# Ignore all .save files
**.save
